@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
#logo {
    height: 3.0em;
    display: flex;
    justify-content: center;
}

#gialla {
    color: #f5f116;
    box-shadow: 0em 1em 1em 1em #fcfbe6;

}
.pizza {
    width: 40%;
    filter: drop-shadow(5px 5px 3px #cbcbcf);
}
#simply {
    display: flex;
    justify-content: center;
    color: rgb(2, 94, 2);
}
#testo {
    text-align: center;
}

.featured {
    color: rgb(196, 81, 28);
}
.link {
    color: rgb(22, 143, 165);
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
}
.seconda {
    height: 0.1em;
    background-color: lightblue;
    
}
.terza {
    height: 0.1em;
    background-color: lightblue;
}
.link2 {
    color: rgb(22, 143, 165);
    cursor: pointer;
}
